@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
    .intro_content {
        width: 600px;
        right: -100px;
    }
}


/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {}


/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}


/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}


/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .main_nav {
        margin-left: 70px;
    }
    .main_nav ul li:not(:last-child) {
        margin-right: 35px;
    }
    .intro_content {
        right: -30px;
    }
    .chefs {
        padding-bottom: 23px;
    }
    .chef_col {
        margin-bottom: 40px;
    }
    .chef_image {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}


/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {}


/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {}


/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }
    .hamburger_bar {
        display: block;
    }
    .main_nav,
    .reservations_phone2 {
        display: none;
    }
    .intro_content {
        position: relative;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        right: auto;
        margin-bottom: 102px;
        width: 100%;
    }
    .footer_col:not(:last-child) {
        margin-bottom: 80px;
    }
}


/************
7. 959px
************/

@media only screen and (max-width: 959px) {}


/************
8. 880px
************/

@media only screen and (max-width: 880px) {}


/************
9. 768px
************/

@media only screen and (max-width: 768px) {}


/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .hamburger_bar {
        right: calc((100vw - 510px) / 2 - 15px);
    }
    .home_subtitle {
        font-size: 48px;
    }
    .home_title h1 {
        font-size: 56px;
    }
    .intro_content {
        padding-left: 49px;
    }
    .intro_col:not(:last-child) {
        margin-bottom: 30px;
    }
    .res_input,
    .res_select {
        width: 150px;
    }
}


/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    p {
        font-size: 14px;
    }
    .header_content,
    .header.scrolled .header_content {
        height: 80px;
    }
    .hamburger_bar {
        right: 0px;
        height: 80px;
    }
    .hamburger_bar.scrolled {
        height: 80px;
    }
    .home {
        height: 350px;
    }
    .home_container {
        bottom: 69px;
    }
    .home_subtitle {
        font-size: 30px;
    }
    .home_title h1 {
        font-size: 36px;
    }
    .section_subtitle {
        font-size: 30px;
    }
    .section_title h1 {
        font-size: 36px;
    }
    .intro_content {
        padding-left: 30px;
    }
    .intro_subtitle {
        font-size: 30px;
    }
    .intro_title h2 {
        font-size: 36px;
    }
    .intro_text {
        margin-top: 24px;
    }
    .chef_image {
        width: 50%;
    }
    .res_stars {
        font-size: 30px;
    }
    .res_title {
        font-size: 36px;
    }
    .res_form_container {
        width: 100%;
        margin-top: 60px;
    }
    .res_input:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 12px;
    }
    .res_input,
    .res_select {
        width: 100%;
    }
    .footer_logo_title {
        font-size: 36px;
    }
    .footer_logo_subtitle {
        font-size: 12px;
    }
    .footer_contact_title,
    .footer_contact_text {
        font-size: 14px;
    }
}


/************
11. 539px
************/

@media only screen and (max-width: 539px) {}


/************
12. 480px
************/

@media only screen and (max-width: 480px) {}


/************
13. 479px
************/

@media only screen and (max-width: 479px) {}


/************
14. 400px
************/

@media only screen and (max-width: 400px) {}


/*********************************
6. The Menu
*********************************/

.themenu {
    width: 100%;
    background: #FFFFFF;
    padding-top: 102px;
    padding-bottom: 102px;
    border-bottom: solid 2px #c4ab9f;
}

.themenu_text_row {
    margin-top: 24px;
}

.themenu_row {
    margin-top: 93px;
}

.themenu_image {
    width: 100%;
    margin-bottom: 31px;
}

.themenu_image img {
    max-width: 100%;
}


/* .themenu_col {
    width: 100%;
    padding-left: 33px;
    padding-top: 39px;
    padding-right: 28px;
    padding-bottom: 44px;
    border: solid 1px #dadada;
}

.themenu_col:hover {
    box-shadow: 0px 27px 40px rgba(0, 0, 0, 0.13);
}

.themenu_col_title {
    display: inline-block;
    height: 58px;
    padding-left: 11px;
    padding-right: 16px;
    font-size: 23px;
    line-height: 54px;
    color: #e86f07;
} */

.dish_list {
    margin-top: 44px;
}

.dish:not(:last-child) {
    margin-bottom: 25px;
}

.dish_price {
    font-size: 18px;
    color: #000000;
    margin-left: auto;
}

.dish_title {
    font-size: 18px;
    color: #232323;
}

.dish_price {}

.dish_contents {
    margin-top: 3px;
}

.dish_contents ul li {
    font-size: 14px;
    color: #636363;
}

.dish_contents ul li:not(:last-child)::after {
    display: inline-block;
    content: '/';
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    color: #636363;
}

.dish_order {
    margin-top: 10px;
}

.dish_order a {
    position: relative;
    font-size: 18px;
    color: #e85485;
}

.dish_order a::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #e85485;
    content: '';
    visibility: hidden;
    opacity: 0;
}

.dish_order a:hover::after {
    visibility: visible;
    opacity: 1;
}

.themenu {
    width: 100%;
    background: #FFFFFF;
}

.themenu_title_bar {
    width: 100%;
    height: 103px;
    border: solid 2px #8c7c74;
}

.themenu_title {
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 14px;
    font-family: "Comic Sans MS";
}

.themenu_stars {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 244px;
    background: #282828;
    font-size: 36px;
    z-index: 1;
}

.themenu_rating {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15px;
    width: 95px;
    background: #282828;
    z-index: 1;
}

.themenu_title_bar_container {
    width: 100%;
    background: #282828;
    padding-left: 23px;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-right: 22px;
}


/* .themenu_col {
    width: 100%;
    padding-left: 33px;
    padding-top: 39px;
    padding-right: 28px;
    padding-bottom: 44px;
    border: solid 1px #dadada;
}

.themenu_row {
    margin-top: 71px;
    padding-bottom: 102px;
}

.themenu_col_title {
    display: inline-block;
    height: 58px;
    padding-left: 11px;
    padding-right: 16px;
    border: solid 2px #e86f07;
    font-size: 26px;
    line-height: 54px;
    color: #e86f07;
} */

.themenu_col_title2 {
    display: inline-block;
    height: 58px;
    padding-left: 11px;
    padding-right: 16px;
    font-size: 26px;
    line-height: 54px;
    color: #e86f07;
}

.dish_list {
    margin-top: 44px;
}

.dish:not(:last-child) {
    margin-bottom: 25px;
}

.dish_price {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.dish_title {
    font-size: 18px;
    color: #232323;
}

.dish_price {
    margin-left: auto;
}

.dish_contents {
    margin-top: 3px;
}

.dish_contents ul li {
    font-size: 14px;
    color: #636363;
}

.dish_contents ul li:not(:last-child)::after {
    display: inline-block;
    content: '/';
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    color: #636363;
}

.dish_order {
    margin-top: 10px;
}

.dish_order a {
    position: relative;
    font-size: 18px;
    color: #b49383;
}

.dish_order a::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #b49383;
    content: '';
    visibility: hidden;
    opacity: 0;
}

.dish_order a:hover::after {
    visibility: visible;
    opacity: 1;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-window2 {
    min-height: 400px;
}

.parallax_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*********************************
5. Home
*********************************/

.home2 {
    width: 100%;
    height: 888px;
}

.home_container2 {
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
}

.home_subtitle2 {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.75;
}

.home_title2 {
    margin-top: 10px;
}

.home_title2 h1 {
    font-size: 42px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: justify;
}

.home_text2 {
    max-width: 875px;
    margin-top: 14px;
}

.home_text2 p {
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 18px;
}

.scroll_icon {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 25px;
    width: 14px;
    height: 28px;
    border: solid 2px #FFFFFF;
    border-radius: 7px;
}

.scroll_icon::after {
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFFFFF;
    content: '';
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
}